@import "colores";
/*pagina hecha con GRID*/
.contenedor__contacto{
    display:grid;
    background-image:tan;
    min-height: 100vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: 90px calc(100vh - 90px - 141px) 140px;
    grid-template-areas:
    "header header"
    "content consulta"
    "footer footer";
    .contenido__contacto{
        grid-area:content;
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        .iframeMaps{
            width:100%;
            height: 80%;
            margin-left: 10px;
        }
    }
    .contactanos--consultas{
        grid-area:consulta;
        @extend .contenido__contacto;
        .form--consultas{
            @extend .iframeMaps;
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;   
            .dataContactanos{
                font-size: large;
                height: 10%;
                margin:5px 5px;
                width:90%;
            }
            .textoContactanos{
                @extend .dataContactanos;
                height: 80%;
                margin:0px;
            }
            .inputEnviar{
                font-size: large;
                margin:15px 0px;
                width:15%;
                height:10%;
            }
        }
    }
    .encabezadoContacto{
        font-style: italic;
        font-size: xx-large;
        margin-left: 20px;
        color:$encabezados;
    }
}
/*termina pagina con GRID*/