.contenidoContacto{
    .contenedor_contacto{
        padding:0px;
        .iframeMaps{
            width: 100%;
        } 
    } 
    .encabezadoContacto{
        font-size: x-large;
        text-align: center;
    }
    .inputEnviar{
        margin-bottom: 2%;
    }
}