@import "colores";
@import "mapa";

.contenidoContacto{
    min-height: calc(100vh - 90px - 141px);
    .contenedor_contacto{
        margin-top: 1%;
        .iframeMaps{
            width: 95%;
            height: 80%;
        }
    }
    .contenedor_contactanos{
        margin-top: 1%;
        .form--consultas{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10%;
            .dataContactanos{
                width: 100%;
                margin:1% 0px;
            }
            .textoContactanos{
                @extend .dataContactanos;
                height: 200px;
            }
            .inputEnviar{
                margin-top: 2%;
                width: 200px;
                height: 50px;
            }
        }
    }
    .encabezadoContacto{
        font-size: map-get($estilos,tFuente);
        font-style: map-get($estilos,cursiva);
        color:map-get($estilos,color);
    }
}
