@import "colores";

.footer{
    width: 100%;
    height:140px;
    margin:0px;
    background-color: rgba(15, 82, 44, 0.719);
    .contenedorRedes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            padding:0px 2px;
        }
    }
    .encabezado--newsletter{
        color: $navenlaces;
        font-size: x-large;
        font-weight: bold;
    }
    .animate__pulse{
        animation-iteration-count: infinite;
    }
    .suscripcion{
        margin-top:10px;
        .dataSuscripcion{
            border-radius: 10px;
            font-size: large;
            width: 100%;
            height: 40px;
        }
        .input__suscribirse{
            background-color: rgb(141, 38, 38);
            border:rgb(14, 59, 14);
            border-radius: 10px;
            font-size:large;
            margin-left: 3%;
            width:min-content;
            height: min-content;
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        .texto--copyright{
            font-size:large;
            text-align: center;
            color: rgba(255, 255, 224, 0.226);
        }
    }
    .contenedor__whatsapp{
        width: min-content;
        a{
            position: fixed;
            bottom: 10px;
            right: 10px; 
            img{
                width:40px;
            }
        }
         
    }

}