@import "variables";
.footer{
    height:340px;
    .animate__pulse{
        animation-iteration-count: 0;
    }
    .encabezadoNewsletter{
        margin-top: 8px;
        @include textoCentro;
    }
    .suscripcion{
        @include flex-row-center-center;
        margin-top: 5px;
        .dataSuscripcion{
            height: 35px;
        }
        .inputSuscripcion{
            margin-left: 0px;
        }
    }
    .textoCopyright{
        padding-top: 5px;
    }
    .fixedWhatsapp{
        img{
            width:32px;
        }
    }
}
/*footer de paginas hechas con GRID*/
.contenedorContacto{
    .contenedorFooter{
        height: min-content;
        .contenedorFooter__newsletter{
            display: flex;
            flex-direction: column;
            width: 100%;
            .newsletter__h3{
                padding-bottom: 5px;
                width:100%;
                @include flex-row-center-center;
            }
            .contenedorFooter__suscripcion{
                width:100%;
                margin:0;
                .suscripcion--data{
                    height: 35px;
                    width: 100%;
                    margin:0px;
                    margin-bottom: 5px;
                }
            }
            .contenedorFooter__boton{
                @include flex-column-center;
                align-items: center;
                margin:0;
            } 
        }
        .contenedor__pie{
            margin-top: 6px;
        }
    }
}
/*termina footer de paginas hechas con GRID*/