.footer{
    height:340px;
    .animate__pulse{
        animation-iteration-count: 0;
    }
    .encabezado--newsletter{
        margin-top: 8px;
        text-align: center;
    }
    .suscripcion{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        .dataSuscripcion{
            height: 35px;
        }
    }
    .texto--copyright{
        padding-top: 5px;
    }
    .contenedor__whatsapp{
        img{
            width:32px;
        }
    }
}