@import "mapa";

.contenidoGaleria{
    min-height: calc(100vh - 90px - 141px);
    margin:1% 0px;
    .columnasGaleria{
        padding:0px;
        @include flex-center;
        img{
            width:92%;
            height: 100%; 
            padding: 5%;
        }
    }
    img{
    &:hover{
        transform:scale(1.1,1.1);
        transition: all 1.7s;
        position: absolute;
        z-index: 9999;
    }    
    }
}