@import "colores";

.header{
    height: 90px;
    background-color: $header;
}
.login{
    width:250px;
    a{
    font-size: medium;
    }
    .registro{
        color:$navenlaces;
    &:hover{
        color:mediumblue;
        text-decoration: underline;
    }
    }
}
.registroMobile{
    display: none;
}