@import "variables";

.fondoIndex{
    background-image: url(../imagenes/imagenes_sitio/fondito.jpg);
    background-position: center;
    background-size:cover;
}
.mainHome{
    min-height: calc(100vh - 90px - 140px);
    .estilosLogo{
        position: absolute;
        z-index: 2;
        overflow-x: hidden;
        top:33%;
        bottom: auto;
        right: 0px;
        left: 20%;
        width: 60%;
        height: 14%;
        img{
            @include fullTamanio;
        }
    }
}
