@import "variables";
.mainHome{
    min-height: calc(100vh - 90px - 340px);
    .estilosLogo{
        align-items: center;
        top:0;
        position: relative;
        h1{
            font-size: 53px;
        }
    }
}