@import "variables";

.fondoIndex{
    background-image: url(../imagenes/imagenes_sitio/fondito.jpg);
    background-position: center;
    background-size:cover;
}
.mainHome{
    min-height: calc(100vh - 90px - 140px);
    .estilosLogo{
        display: flex;
        justify-content: center;
        position: relative;
        top:180px;
        h1{
            font-family: "Dancing Script";
            font-size: 150px;
            color:$cLogo;
        }
    }
}
