@import "variables";
@media only screen and (min-width:1024px) and (max-width:1440px){
    .footer{
        overflow:hidden;
        .encabezadoNewsletter{
            font-size: 20px;
            overflow:hidden;
        }
    }
    .contenidoNosotros{
        .parrafosNosotros{
            font-size:map-get($estilosTexto,fuenteDesktop);
        }
    }
    .contenidoGaleria{
        margin:1.5% 0.5%;
    }
    /*paginas hechas con GRID*/
    .contenedorContacto{
        grid-template-columns: 40% 60%;
        grid-template-rows: 90px 1fr 138px;
        grid-template-areas:
        "header header"
        "content consulta"
        "footer footer";
        .contactoUbicacion{
            .iframeMaps{
                height: 80%;
            }
        }
        .contactoConsultas{
            .consultasForm{
                height: 80%;
                width: 100%;
            }
        }
        .contenedorFooter{
            height: 138px;
            .contenedorFooter__newsletter{
                width:100%;
                .newsletter__h3{
                    width: 23%;
                }
                .contenedorFooter__suscripcion{
                    margin-left: 32px;
                    margin-right: 0px;
                    width:23.5%;
                    .suscripcion--data{
                        width:100%;
                    }
                }
                .contenedorFooter__boton{
                    margin-left: 3.5%;
                }
            }
        }
    }
}

/*termina paginas hechas con GRID*/