@media only screen and (min-width:1024px) and (max-width:1440px){
    .footer{
        overflow:hidden;
        .encabezado--newsletter{
            font-size: 20px;
            overflow:hidden;
        }
    }
    .imgArriba{
       padding-top: 17%;
       height:80%;
    }
}