.estilosNav{
    height: auto;
    font-size: larger;
    background-color:rgb(129, 22, 22);
    .estilosNavbar{
        .estilosMenu{
            width:100%
        }
    }
    .login{
        .airesLogin{
            width:200px;
        }
        .registroMobile{
            display: flex;
        }
        .registro{
            display: none;
        }
    }
}