.estilosNav{
    height: auto;
    font-size: larger;
    background-color:rgb(129, 22, 22);
    .estilosNavbar{
        .estilosMenu{
            width:100%
        }
    }
    .login{
        width:auto;
        .airesLogin{
            width:200px;
        }
        .registroMobile{
            display: flex;
        }
        .registro{
            display: none;
        }
    }
}
/*nav para paginas con GRID*/
.contenedor__contacto{
    .headerContacto{
        background-color:rgb(129, 22, 22);
        .estilosNav{
            margin:auto 0px;
            padding:8px 16px;
            .estilosNavbar{
                background-color:rgb(129, 22, 22) ;
            }
        }
    }
}