@import "variables";
.contenidoNosotros{
    display: flex;
    flex-direction: column;
    padding:0px;
    .nosotrosPrincipio{
        order: 1;
        margin:0px 0px;
    }
    .imagenesPrincipio{
        order:2;
        flex-wrap: wrap;
        width: 100%;
        margin:0px;
        padding:0px;
        .imgPrincipio{
            width: 100%;
            margin:0px;
        }
    }
    .imagenesActualidad{
        margin:0px;
        padding:0px;
        order:4;
        .imgActualidad{
            margin:0px;
            width:100%;
        }
    }
    .nosotrosActualidad{
        order:3;
    }
    .encabezadosNosotros{
        padding: 0px 0px;
    }
    .parrafosNosotros{
        padding:0px 0px;
        font-size:map-get($estilosTexto,fuenteDesktop);
    }
}