@import "variables";
.contenidoNosotros{
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    .historia1{
        order: 1;
        margin:0px;
    }
    .imagenes1{
        order:2;
        flex-wrap: wrap;
        width: 100%;
        margin:0px;
        padding:0px;
        .imgArriba{
            width: 100%;
            margin:0px;
        }
    }
    .imagenes2{
        margin:0px;
        padding:0px;
        order:4;
        .imgAbajo{
            margin:0px;
            width:100%;
        }
    }
    .historia2{
        order:3;
    }
    .historia--parrafo{
        font-size:map-get($estilosTexto,fuenteDesktop);
    }
}