@import "variables";
.contenidoNosotros{
    min-height: calc(100vh - 90px - 141px);
    width: 100%;
    overflow: hidden;
    margin:10px 0px;
    .nosotrosPrincipio{
        margin:5px 0px;
        overflow: hidden;
    }
    .imagenesPrincipio{
        margin:5px 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        .imgPrincipio{
            margin:0px 2.5px;
            width:50%;
            height: 100%;             
        }
    }
    .imagenesActualidad{
        overflow: hidden;
        display: flex;
        width: 100%;
        margin:5px 0px;
        .imgActualidad{
            width:90%;
            height: 100%;
            overflow: hidden;
        }
    }
    .nosotrosActualidad{
        margin:5px 0px;
        overflow: hidden;
    }
    .encabezadosNosotros{
        overflow: hidden;
        padding-left:2%;
        font-size:map-get($estilosTexto,fuenteXXdesktop);
        font-style:map-get($estilosTexto,cursiva);
        color:$cEncabezados;
    }
    .parrafosNosotros{
        padding:0px 4%;
        @include fullTamanio;
        text-align: map-get($estilosTexto,justificado);
        font-size:map-get($estilosTexto,fuenteXdesktop);
        color:black;
    }
}
