@import "variables";
.navegable{
    flex-wrap: nowrap;
    .filtrosShop{
        justify-content: flex-start;
        width: 20%;
        input{
            display: none;
        }
        .estiloFiltro{
            display: none;
        }
        .filtroMobile{
            display: flex;
        }
    }
    .contenedor_carrito{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 32px;
            height: 32px; 
        }
    }
}
.contenidoShop{
    .columnasShop{
        margin:0px;
        border:10px solid tan;
    &:hover{
        transform:none;
        transition:none;
        }
        img{
            height: 60%;
            margin:30px; 
        }
    }
}